<h1> Hi, <%= @user.name %> </h1>
<%= form_for @user, logout_path do %>
    <%= f.submit 'logout' %>
<% end %>

<%# A user homepage, which says, "Hi, #{username}."
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
